@media (max-width: 554px) {
	.dgdeveloper{
		font-size: 50px;
	}
	@keyframes bg-pos{
		from{
		  background-position: -20px;}
		/* 60%{
		  background-position: 500px;} */
		to{ 
		  background-position: 300px;}
	  }
	  /*============*/
	.text-liner::after{
		top: 50%;
		left: -30%;
		transform: translate(-30%,-50%) translateY(-2px);
	  }
}
@media (max-width: 404px) {
	.dgdeveloper{
		font-size: 40px;
	}
	@keyframes bg-pos{
		from{
		  background-position: -5px;}
		/* 60%{
		  background-position: 500px;} */
		to{ 
		  background-position: 250px;}
	  }
	  .text-liner::after{
		top: 50%;
		left: -70%;
		transform: translate(-70%,-50%) translateY(-2px);
	  }
	  @keyframes animation-next-liner-text{
		to{
			left: -40%;
			transform: translate(-40%,-50%) /*translateY(-0px)*/;
			opacity: 1;
		}
	  }
}
@media (max-width: 332px) {
	.dgdeveloper{
		font-size: 30px;
	}
	@keyframes bg-pos{
		from{
		  background-position: 10px;}
		/* 60%{
		  background-position: 500px;} */
		to{ 
		  background-position: 200px;}
	  }
	  .text-liner::after{
		font-size: 10px;
		top: 50%;
		left: -50%;
		transform: translate(-50%,-50%) ;
	  }
	  @keyframes animation-next-liner-text{
		to{
			left: -40%;
			transform: translate(-40%,-50%);
			opacity: 1;
		}
	}
	  @keyframes animation-text-liner{

		60%{ 
			transform: translateX(0px) scaleX(0); 
		}
		100%{
			transform: translateX(85px) scaleX(1);
		}
		
	}
}
@media (max-width: 240px) {
	.dgdeveloper{
		font-size: 20px;
	}
	@keyframes bg-pos{
		from{
		  background-position: 25px;}
		/* 60%{
		  background-position: 500px;} */
		to{ 
		  background-position: 150px;}
	  }
	  .text-liner::after{
		font-size: 10px;
		top: 50%;
		left: -10%;
		transform: translate(-10%,-50%) /*translateY(-0px)*/;
	  }
	  @keyframes animation-next-liner-text{
		to{
			left: -45%;
			transform: translate(-45%,-50%) /*translateY(-0px)*/;
			opacity: 1;
		}
	}
}
