body{
    
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Courier New', Courier, monospace; */
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
main {
      position: fixed;
      height: 100vh;
      width: 100%;
  }
  
.main-wrapper{
    text-align: center;
    max-height: 80%;
    position: absolute;
    overflow: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}
.main-wrapper::-webkit-scrollbar { width: 0; }

.text-liner{
    width: 60%;
    height: 1px;
    background-color: #ffffff25;
    margin-top: 20px;
    animation: animation-text-liner 1.5s forwards;
    animation-delay: 2.5s;
    transform: scaleX(0);
}
@keyframes animation-text-liner{

    60%{ 
        transform: translateX(0px) scaleX(0); 
    }
    100%{
        transform: translateX(200px) scaleX(1);
    }
}
.text-liner::after{
    content: 'By Denis Golicin';
    color: #ffffff25;
    position: absolute;
    top: 50%;
    left: -20%;
    transform: translate(-20%,-50%) translateY(-2px);
    width: 150px;
    opacity: 0;
    animation: animation-next-liner-text .5s forwards;
    animation-delay: 5.5s;
    font-size: 15px;
}

@keyframes animation-next-liner-text{
    to{
        transform: translate(-50%,-50%) translateY(-2px);
        opacity: 1;
    }
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}
.icon{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #ffffff25;
    transform: translateY(300px);
    
}
.icon:first-child, .icon:nth-child(2), .icon:last-child{
   animation: animation-icon .5s forwards;
   animation-delay: 6.5s;
}
.icon:nth-child(2){
    margin-left: 15px;
    margin-right: 15px;
    animation-delay: 6.7s;
}
.icon:last-child{
    animation-delay: 6.9s;
    
}

@keyframes animation-icon {
    to{
        transform: translateY(0px);
    }    
}
.main-content{
    max-height: 0;
    overflow: hidden;
    animation: animation-main-content 1s forwards;
    animation-delay: 7.4s;
    background-color: #ffffff25;
    border-radius: 10px;
}
@keyframes animation-main-content {
    
    to{
        max-height: 1000px;
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 20px;
    }
 }
p{
    color: rgba(255, 255, 255, 0.616);
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    text-align: center;
    margin-top: 10px;
}
 .photo{
    margin: 0 auto;
    width: 70px;
    height: 70px;
    background-color: #ffffff25;
    border-radius: 50%;
 }

 .cursor{
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    top:100%;
    left: 100%;
    background-color: #ffffff00;
    animation: animation-cursor 4s forwards;
    z-index: 1;
 }

 @keyframes animation-cursor {
    60%{
        top:45%;
        left: 55%;
        width: 25px;
        height: 25px;
    }
    80%{
        width: 20px;
        height: 20px;
    }
    90%{
        width: 25px;
        height: 25px;
        opacity: 1;
    }
    100%{
        top:45%;
        left: 55%;
        opacity: 0;
    }
 }

 .cursor-svg{
    background-color: rgba(255, 255, 255, 0);
    width: 100%;
    height: 100%;
 }
