:root{
    --main-color: #ffffff25;
    --text-color: rgba(255, 255, 255, 0.616);
    --active-color: #0c092a;
    --button-color: #423299;
    --main-indent: 20px;
}
body{
    
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Courier New', Courier, monospace; */
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
main {
      position: fixed;
      height: 100%;
      width: 100%;
  }
  
.main-wrapper{
    text-align: center;
    max-height: 80%;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}
.main-wrapper::-webkit-scrollbar { width: 0; }


.block-liner{
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    margin-top: 7px;
}

.text-liner{
    width: 0%;
    transform: translateX(-150px);
    animation: animation-text-liner 1s forwards;
    animation-delay: 5.5s;
    color: var(--main-color);
    
}
.liner{
    height: 1px;
    width: 100%;
    transform: translateX(-1500px);
    animation: animation-liner 4.5s forwards;
    animation-delay: 2s;
    background-color: var(--main-color);
    
}
@keyframes animation-liner {
    50%{
        transform: translateX(0px);
    }
    80%{
        transform: translateX(0px);
    }
    100%{
        transform: translateX(150px);
    }
}
@keyframes animation-text-liner {
    100%{
        transform: translateX(25px);
    }
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}
.icon{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0);
    transform: translateY(300px);
    
}
.icon>a>svg:hover{
    fill:rgba(255, 255, 255, 0.616);
}
.icon>a>svg{
    width: 35px;
    height: 35px;
    transition: .3s;
    cursor: pointer;
    fill: var(--main-color);
}
.icon:first-child, .icon:nth-child(2), .icon:last-child{
   animation: animation-icon 1s forwards;
   animation-delay: 6.5s;
}
.icon:nth-child(2){
    margin-left: 15px;
    margin-right: 15px;
    animation-delay: 6.7s;
}
.icon:last-child{
    animation-delay: 6.9s;
    
}

@keyframes animation-icon {
    to{
        transform: translateY(0px);
    }    
}
.main-content{
    animation: animation-main-content 1s forwards;
    animation-delay: 8s;
}
.project-content{
    display: none;
}
.main-content, .project-content{
    max-height: 0;
    -webkit-overflow-scrolling: touch;
    overflow: hidden;
    background-color: var(--main-color);
    border-radius: 10px;
}
@keyframes animation-main-content {
    
    to{
        max-height: 2500px; 
    }

 }
 .title-content{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
 }
 .title-content-element{
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--main-indent);
    /* transform: translateX(-1000px);
    animation: animation-tce 1.5s forwards ease-out;
    animation-delay: 7.5s;
    opacity: 0; */
 }
 /* @keyframes animation-tce {
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
 } */
 .title-content-element div>p:first-child{
    font-size: 20px;
 }
nav{
    max-height: 0;
    overflow: hidden;
    animation: animation-main-tab 1s forwards;
    animation-delay: 8s;
    background-color: var(--main-color);;
    border-radius: 10px;
    display: flex;
    
}
nav .nav-element{
    flex: 0 1 50%;
    cursor: pointer;
    padding: 5px;
    color: var(--text-color);
}
nav .nav-element:first-child{
    border-radius: 10px 0px 0px 10px;
    
}
nav .nav-element:last-child{
    border-radius: 0px 10px 10px 0px;
}
.active{
    background-color: var(--active-color);
    transition: background-color .5s;
}

@keyframes animation-main-tab {
    
    to{
        max-height: 100px;
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 5px;
    }
 }
p{
    color: var(--text-color);
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    text-align: center;
    margin-top: 20px;
}
.nav-text{
    margin: 0;
}
p b{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
p b span{
    color: yellow;
}
.long-text{
    max-width: 400px;
    margin: 0 auto;
}
.project-text{

    padding-top: 20px;
    
}

.github-text::after{
    display: inline-block;
    content: url(../svg/github_g2nkr1q2vldi.svg);
    margin-left: 5px;
    width: 15px;
    height: 15px;
}
.github-text{
    color: var(--text-color);
}

button{
    margin-top: 20px;
    padding: 10px;
    background-color: var(--button-color);
    border-radius: 10px;
    color: var(--text-color);
    cursor: pointer;
    transition: background-color .5s;
}
button:hover{
    background-color: var(--active-color);
}

.block-br{
    height: 1px;
    background-color: var(--main-color);
    margin-top: 20px;
    margin-left: var(--main-indent);
    margin-right: var(--main-indent);
}

.project-element{
    min-width: 150px;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    transition: background-color .5s;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.project-element:hover{
    background-color: var(--active-color);
}
.project-element:active{
    background-color: var(--main-color);
}
.project-element-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 1 25%;
    border-right: 1px solid var(--main-color);

}
.project-element-icon svg{
    width: 35px;
    height: 35px;
}
.project-element-text{
    flex: 0 1 75%;
    display: flex;
    align-items: center;
}

.project-element-text>span{
    padding-left: 10px;
}
.project-element-text>span>p{
    margin: 0;
    padding: 0;
}
.project-element-content{
    overflow: hidden;
    max-height: 0; 
    transition: max-height .3s; 
}
.project-accordion:first-child{
    
}
.project-accordion{
    margin: var(--main-indent);
    
}


.moment-skills{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 20px;
}
.moment-skills div, svg{
    
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.photo{
    box-shadow: 0 0 5px var(--active-color);
    animation: animation-photo 4.5s infinite;
}
 .photo, .photo>svg{
    margin: 0 auto;
    width: 100px;
    height: 100px;
    background-color: var(--main-color);
    border-radius: 50%;
    position: relative;
    transition: opacity .5s;
 }
 @keyframes animation-photo {
    0%{
        transform: translateY(0px);
    }
    5%{
        transform: translateY(-5px);
    }
    10%{
        transform: translateY(5px);
    }
    15%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(0px);
    }
 }

 .photo::before{
    /* background-image: url("../src/photo.jpg");
    background-repeat:no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: rgba(255, 255, 255, 0); */
    content: ' ';
    display: block;
    position: absolute;
    border-radius: 50%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-image: url("../src/photo.jpg");
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
    transition: opacity .5s;
 }
 .photo:hover:before{
    opacity: 1;
 }
 .photo>svg:hover{
    opacity: 0;
 }
 

 .cursor{
    position: absolute;
    width: 25px;
    height: 25px;
    top:100%;
    left: 100%;
    background-color: #ffffff00;
    animation: animation-cursor 1.5s forwards;
    animation-delay: 2s;
    z-index: 1;
 }

 @keyframes animation-cursor {
    60%{
        top:45%;
        left: 55%;
        width: 25px;
        height: 25px;
    }
    80%{
        width: 20px;
        height: 20px;
    }
    90%{
        width: 25px;
        height: 25px;
        opacity: 1;
    }
    100%{
        top:45%;
        left: 55%;
        opacity: 0;
    }
 }

 .cursor-svg{
    background-color: rgba(255, 255, 255, 0);
    width: 90%;
    height: 90%;
    border-radius: 0%;
 }

 .position-wrapper{
    width: 100%;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -100%);
    z-index: 1;
    opacity: 0;
    padding-bottom: 10px;
    animation: animation-position 1s forwards linear;
    animation-delay: 8s;
 }
 @keyframes animation-position {
    to{
        opacity: 1;
    }
    
 }
.position{
    display: flex;
    justify-content: center;
    align-items: center;
}
 .position>p{
    font-size: 13px;
    padding: 0;
    margin: 0;
    margin-left: 5px;
    color: var(--main-color);
    
 }
 .marker-svg{
    width: 13px;
    height: 13px;
 }

 .dgdeveloper{
    color: var(--text-color);
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    font-size: 70px;
    text-align: center;
    /* transform: translateX(600px); */
    text-shadow: 0 0 5px #ffffff00;
    animation: animation-dgdeveloper 4s forwards ease-out;
 }

 @keyframes animation-dgdeveloper {
    0%{
        /* filter: blur(10px); */
        opacity: 0;
    }
    
    70%{
        text-shadow: 0 0 5px #ffffff00;
        color: var(--text-color);
        /* filter: blur(0px); */
        opacity: 1;
    }
    100%{
        text-shadow: 0 0 5px var(--text-color);
        transform: translateX(0px) scale(1);
    }
    
 }
